<section class="container">
    <div class="login-form">
        <h1>Login</h1>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="row g-3 needs-validation mt-3" novalidate>
            <div class="col-12">
                <label for="email" class="form-label">Email</label>
                <div class="input-group has-validation">
                    <input type="email" class="form-control" id="email" formControlName="email"
                        aria-describedby="inputGroupPrepend" required>
                    @if (f['email'].invalid && (f['email'].touched || f['email'].dirty || isFormInValid)) {
                        @if(f['email'].errors?.['required']){
                            <div class="text-danger col-12">
                                Email is required!
                            </div>
                        }
                        @if(f['email'].errors?.['email']){
                            <div class="text-danger col-12">
                                Enter a valid email!
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="col-12">
                <label for="password" class="form-label">Password</label>
                <div class="input-group has-validation">
                    <input type="password" class="form-control" id="password" formControlName="password"
                        aria-describedby="inputGroupPrepend" required>
                    @if (f['password'].invalid && (f['password'].touched || f['password'].dirty || isFormInValid)) {
                        @if(f['password'].errors?.['required']){
                            <div class="text-danger col-12">
                                Password is required!
                            </div>
                        }
                    }
                </div>
            </div>
            <p>Don't have an account? <a routerLink = '/register'>Register</a></p>
            <div class="col-12">
                <button class="btn btn-primary" type="submit">Login</button>
            </div>
        </form>
    </div>
</section>